<launch>

  <group ns="camera">

    <!-- mmf writer -->
    <node pkg="nodelet" type="nodelet" name="mmf_writer"
          args="load mmf_writer/mmf_writer_nodelet camera_nodelet_manager">

          <param name="filename" value="defaultFileNameChangeThis" />
          <param name="path" value="/home/bruno/recordings/" />

          <!-- remap input topics -->
          <remap from="camera/image" to="image"/>
          <remap from="camera/image_raw" to="image_raw"/>
          <remap from="camera/camera_info" to="camera_info"/>

        </node>
<!--
        <node pkg="nodelet" type="nodelet" name="process_image" output="screen"
              args="load mmf_writer/process_image camera_nodelet_manager">
-->
              <!-- remap input topics -->
<!--
              <remap from="camera/image_raw" to="image_raw"/>
              <remap from="camera/camera_info" to="camera_info"/>


            </node>
-->
  </group>

  <!-- web gui -->
  <arg name="hardware" default="true"/>
  <include file="$(find mmf_recorder_web_gui)/launch/mmf_recorder_web_gui.launch" >
    <arg name="hardware" value="$(arg hardware)"/>
  </include>

</launch>
