<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MMF Recorder Web interface</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <link rel="stylesheet" href="static/jquery-ui.min.css"/>
    <link rel="stylesheet" href="static/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="static/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="static/lavis.css?v=15"/>
<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
<!--    <script src="/static/js/ros/eventemitter2.min.js"></script>
    <script src="/static/js/ros/roslib.min.js"></script> -->
    <script src="/static/js/jquery/jquery.js"></script>
    <script src="/static/js/jquery/jquery-ui.min.js"></script>
  </head>

  <body>
    <div id="window" >
      <div id="statusIndicator">
        <p id="connecting">
          Connecting to rosbridge...
        </p>
        <p id="connected">
          Connected
        </p>
        <p id="error">
          Error in the backend!
        </p>
        <p id="closed">
          Connection closed.
        </p>
      </div>
      <div id="tabs" >
        <ul>
          <li><a href="#tabs-camera">Camera</a></li>
          <li><a href="#tabs-mmf-settings">Recorder Settings</a></li>
        </ul>

        <div id="tabs-camera" >
<table><tr><td>
          <div id="stream-camera-image-raw" class="left">
            <img src="http://localhost:8080/stream?topic=/camera/image_raw&width=600&height=600&quality=75" />
          </div>
        </td>
        <td> <!-- Other stuff here -->
          <table id="tbl-lights">
            <tr>
              <td>Tracker: <select id="tracker">
                <option value="t9">t9</option>
                <option value="t10" selected="selected">t10</option>
              </td>
            </tr>
            <tr>
              <td>Folder: <input type="text" id="basePath" size="40"></td>
            </tr>
            <tr>
              <td>Gal4 line: <input type="text" id="gal4_line"></td>
            </tr>
            <tr>
              <td>Effector: <input type="text" id="effector"></td>
            </tr>
            <tr>
              <td>Stimuli Description: <input type="text" id="stimuli_description" size="60"></td>
            </tr>
            <tr>
              <td>Seconds to record: <input type="text" id="timeToRecord"></td>
            </tr>
            <tr>
              <td><button id="mmf-controller-start">Start Capture</button>
                <button id="mmf-controller-stop">Stop Capture</button>
              </td>
            </tr>
            <tr><td>Buffer number:
              <input type="text" id="recordingBuffer" class="slider-label" readonly>
            </td></tr>
            <tr><td>Elapsed Recording Time (sec):
              <input type="text" id="recordingElapsedTime" class="input-label" readonly> <label for="elapsedRecording">seconds</label>
            </td></tr>
            <tr><td>Status:
              <input type="text" id="recordingStatus" class="input-label" readonly></label>
            </td></tr>

          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <tr>
              <td>data directory: <input type="text" id="data_directory" size="100"></td>
            </tr>
            <tr>
              <td>filename: <input type="text" id="file_name" size="80"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

<!--          <table id="Camera settings">
            <tr>
              <td id="shutter-speed">shutter speed: <div id="slider-shutter-speed" class="center"></div></td>
            </tr>
          </table>
        </div>
-->

        <div id="tabs-mmf" >
          <div class="center">

            <input type="text" id="current" class="slider-label" readonly>

          </div>
        </div>


          <div id="tabs-mmf-settings" class="right">


            <button id="mmf-controller-start" class="center">Start</button>
            <button id="mmf-controller-stop" class="center">Stop</button>
            <input type="text" id="recordingBuffer" class="slider-label" readonly>

          </div>


<!--
                <div id="tabs-mmf" >
                  <div class="center">
                    <button id="mmf-controller-start" class="center">Start</button>
                    <button id="mmf-controller-stop" class="center">Stop</button>

                    <p>
                      <input type="text" id="stage-vertical-percent" class="slider-label" readonly>
                      <label for="stage-vertical-percent">%</label>
                    </p>
                    <div id="slider-stage-vertical" class="center"></div>
                    <div id="slider-stage-horizontal" class="center"></div>
                    <p>
                      <input type="text" id="stage-horizontal-percent" class="slider-label" readonly>
                      <label for="stage-horizontal-percent">%</label>
                    </p>
                  </div>
                </div>
-->
<!--        <div id="tabs-stage" >
          <div class="center">
            <button id="stage-move-absolute-percent" class="center">Move</button>
            <p>
              <input type="text" id="stage-vertical-percent" class="slider-label" readonly>
              <label for="stage-vertical-percent">%</label>
            </p>
            <div id="slider-stage-vertical" class="center"></div>
            <div id="slider-stage-horizontal" class="center"></div>
            <p>
              <input type="text" id="stage-horizontal-percent" class="slider-label" readonly>
              <label for="stage-horizontal-percent">%</label>
            </p>
          </div>
        </div>
        <div id="tabs-lights" >
          <div class="center">
            <table id="tbl-lights">
              <tr>
                <td><button id="current-channel-1">Set Channel 1 Current</button></td>
                <td><button id="current-channel-2">Set Channel 2 Current</button></td>
                <td><button id="current-channel-3">Set Channel 3 Current</button></td>
                <td><button id="current-channel-4">Set Channel 4 Current</button></td>
              </tr>
            </table>
            <div id="slider-current" class="center"></div>
            <input type="text" id="current" class="slider-label" readonly>
            <label for="current">mA</label>
          </div>
        </div>
        <div id="tabs-sound" >
          <div class="center">
            <button id="play-tone" class="center">Play Tone</button>
            <div id="slider-frequency" class="center"></div>
            <input type="text" id="frequency" class="slider-label" readonly>
            <label for="frequency">Hz</label>
            <div id="slider-duration" class="center"></div>
            <input type="text" id="duration" class="slider-label" readonly>
            <label for="duration">ms</label>
          </div>
        </div>
        <div id="tabs-stage-controller" >
          <table id="tbl-stage-controller">
            <tr>
              <td><button id="stage-controller-start">Start Stage Controller</button></td>
              <td><button id="save-background-image">Save Background Image</button></td>
              <td><button id="stage-controller-stop">Stop Stage Controller</button></td>
            </tr>
          </table>
          <div id="stream-camera-blob-out-image-raw" class="center">
            <img src="http://localhost:8080/stream?topic=/camera/blob_out/image_raw&width=600&height=600" />
          </div>
        </div>
        <div id="tabs-behavior-classifier" >
          <table id="tbl-behavior-classifier">
            <tr>
              <td><button id="data-writer-start">Start Data Writer</button></td>
              <td><button id="data-writer-stop">Stop Data Writer</button></td>
            </tr>
          </table>
          <div id="stream-camera-behavior-out-image-raw" class="center">
            <img src="http://localhost:8080/stream?topic=/camera/behavior_out/image_raw&width=600&height=600" />
          </div>
        </div>
        <div id="tabs-stimuli-controller" >
          <table id="tbl-stimuli-controller">
            <tr>
              <td><button id="stimuli-controller-start">Start Stimuli Controller</button></td>
              <td><button id="stimuli-controller-stop">Stop Stimuli Controller</button></td>
            </tr>
          </table>
        </div>
      </div>
-->
    </div>
    <script src="/static/js/scripts/mmf_recorder.js"></script>

<!--    <script src="/static/js/scripts/lavis.js"></script> -->
  </body>
</html>
