* {
  padding: 0;
  margin: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
}
#window {
  height: 100%;
}
#tabs {
  margin: 0;
  padding: 0;
  border: none;
}
.input-label {
  border: 0;
  color: #f6931f;
  font-weight:bold;
  width: 80px;
}

#tbl-stage-controller {
  width: 100%;
}
#tbl-behavior-classifier {
  width: 100%;
}
#tbl-stimuli-controller {
  width: 100%;
}
.center {
  text-align: center;
  margin: 2em 0em;
}
td {
  padding: 0 0.5em;
  text-align: center;
}
th {
  color: #000000;
  font-size: 2em;
  font-weight: bold;
}
.button {
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: bold;
}
.ui-button-text-only {
  padding: 0.1em 0.2em !important;
}
#connected {
  color: #00D600;
  display: none;
}
#error {
  color: #FF0000;
  display: none;
}
#closed {
  display: none;
}
#stage-containment-wrapper {
  width: 400px;
  height: 400px;
  border: 2px solid #ccc;
  padding: 10px;
}
.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
}
#tbl-stage {
  width: 100%;
}
.slider-label {
  border: 0;
  color: #f6931f;
  font-weight:bold;
  width: 50px;
}
#slider-stage-vertical {
  height: 200px;
  margin: 20px auto;
}
#slider-shutter-speed {
  width: 200px;
  margin: 20px auto;
}

#slider-stage-horizontal {
  width: 200px;
  margin: 20px auto;
}
#tbl-lights {
  width: 100%;
}
#slider-current {
  width: 400px;
  margin: 20px auto;
}
#slider-frequency {
  width: 400px;
  margin: 20px auto;
}
#slider-duration {
  width: 400px;
  margin: 20px auto;
}
