<launch>
  <!-- xy stage -->
  <arg name="x_serial_number" default="123"/>
  <arg name="x_alias" default="10"/>
  <arg name="x_microstep_size" default="0.00049609375"/>
  <arg name="x_travel" default="450"/>
  <arg name="y_serial_number" default="123"/>
  <arg name="y_alias" default="11"/>
  <arg name="y_microstep_size" default="0.00049609375"/>
  <arg name="y_travel" default="450"/>
  <include file="$(find zaber_stage)/launch/zaber_stage.launch" >
    <arg name="x_serial_number" value="$(arg x_serial_number)"/>
    <arg name="x_alias" value="$(arg x_alias)"/>
    <arg name="x_microstep_size" value="$(arg x_microstep_size)"/>
    <arg name="x_travel" value="$(arg x_travel)"/>
    <arg name="y_serial_number" value="$(arg y_serial_number)"/>
    <arg name="y_alias" value="$(arg y_alias)"/>
    <arg name="y_microstep_size" value="$(arg y_microstep_size)"/>
    <arg name="y_travel" value="$(arg y_travel)"/>
  </include>

  <group ns="camera">

    <!-- blob tracker -->
    <node pkg="nodelet" type="nodelet" name="blob_tracker"
          args="load blob_tracker/process_image camera_nodelet_manager">

      <!-- <param name="background_image_path" value="$(find blob_tracker)/background.png"/> -->

      <!-- remap input topics -->
      <remap from="camera/image_raw" to="image_raw"/>
      <remap from="camera/camera_info" to="camera_info"/>

      <!-- remap output topics -->
      <remap from="blob_out/image_raw" to="blob_out/image_raw"/>
      <remap from="blob_out/camera_info" to="blob_out/camera_info"/>
    </node>

    <!-- behavior classifier -->
    <node pkg="nodelet" type="nodelet" name="larvae_behavior_classfier"
          args="load larvae_behavior_classifier/process_image camera_nodelet_manager">

      <!-- remap input topics -->
      <remap from="camera/image_raw" to="image_raw"/>
      <remap from="camera/camera_info" to="camera_info"/>

      <!-- remap output topics -->
      <remap from="behavior_out/image_raw" to="behavior_out/image_raw"/>
      <remap from="behavior_out/camera_info" to="behavior_out/camera_info"/>
    </node>
    <node name="larvae_data_writer" pkg="larvae_behavior_classifier" type="data_writer.py" />

    <!-- stage controller -->
    <arg name="stage_feedback_period" default="0.250"/>
    <arg name="image_x_stage_x_gain" default="0"/>
    <arg name="image_x_stage_y_gain" default="2"/>
    <arg name="image_y_stage_x_gain" default="2"/>
    <arg name="image_y_stage_y_gain" default="0"/>
    <arg name="lavis_stage" default="zaber_stage_node"/>
    <include file="$(find lavis_stage_controller)/launch/lavis_stage_controller.launch" >
      <arg name="stage_feedback_period" value="$(arg stage_feedback_period)"/>
      <arg name="image_x_stage_x_gain" value="$(arg image_x_stage_x_gain)"/>
      <arg name="image_x_stage_y_gain" value="$(arg image_x_stage_y_gain)"/>
      <arg name="image_y_stage_x_gain" value="$(arg image_y_stage_x_gain)"/>
      <arg name="image_y_stage_y_gain" value="$(arg image_y_stage_y_gain)"/>
      <arg name="lavis_stage" value="$(arg lavis_stage)"/>
    </include>

    <!-- stimuli controller -->
    <arg name="stimuli_feedback_period" default="0.50"/>
    <arg name="lavis_lights_controller" default="mightex_controller_node"/>
    <arg name="lavis_audio_controller" default="pyaudio_controller_node"/>
    <include file="$(find lavis_stimuli_controller)/launch/lavis_stimuli_controller.launch" >
      <arg name="stimuli_feedback_period" value="$(arg stimuli_feedback_period)"/>
      <arg name="lavis_lights_controller" value="$(arg lavis_lights_controller)"/>
      <arg name="lavis_audio_controller" value="$(arg lavis_audio_controller)"/>
    </include>

    <!-- smach -->
    <include file="$(find lavis_smach)/launch/lavis_smach.launch" >
      <arg name="lavis_stage" value="$(arg lavis_stage)"/>
    </include>
  </group>

  <!-- web gui -->
  <arg name="hardware" default="true"/>
  <include file="$(find lavis_web_gui)/launch/lavis_web_gui.launch" >
    <arg name="hardware" value="$(arg hardware)"/>
  </include>

</launch>
